In [1]:
import pandas as pd
import numpy as np

# Define the parameters
num_customers = 50000
months = pd.date_range(start='2020-12-01', periods=44, freq='MS')
# product_codes = ['PLAN1', 'ADDON1', 'ADDON2']

# # Generate the data
# data = []

# for i in range(num_customers):
#     account_code = f"ACC{i+1:03d}"
#     company_name = f"Company {chr(65 + i)}"
    
#     for product_code in product_codes:
#         row = {
#             'account_code': account_code,
#             'company_name': company_name,
#             'product_code': product_code
#         }
#         revenue = np.random.randint(100, 5000, size=len(months))
#         for month, rev in zip(months, revenue):
#             row[month.strftime('%Y-%m-%d')] = rev
        
#         data.append(row)

# # Create a DataFrame
# df = pd.DataFrame(data)

# # Display the DataFrame
# df.head()

In [2]:
# List of new product codes provided by the user
new_product_codes = [
    'product_3', 'product_13', 'product_17', 'product_15', 'product_0', 
    'product_14', 'product_9', 'product_10', 'product_7', 'product_20',
    'product_5', 'product_4', 'product_19', 'product_1', 'product_8', 
    'product_2', 'product_11', 'product_12', 'product_6', 'product_16',
    'product_18'
]

# Update the data generation with new product codes
updated_data_with_new_codes = []

for i in range(num_customers):
    account_code = f"ACC{i+1:03d}"
    company_name = f"Company {chr(65 + i)}"
    currency = "USD"
    
    # Select 3 random product codes for each customer
    assigned_product_codes = np.random.choice(new_product_codes, 3, replace=False)
    
    for product_code in assigned_product_codes:
        row = {
            'account_code': account_code,
            'company_name': company_name,
            'product_code': product_code,
            'charge_description': '',
            'currency': currency
        }
        revenue = np.random.randint(0, 5000, size=len(months))
        for month, rev in zip(months, revenue):
            row[month.strftime('%Y-%m-%d')] = rev
        
        updated_data_with_new_codes.append(row)

# Create a DataFrame
df_updated = pd.DataFrame(updated_data_with_new_codes)

# Display the updated DataFrame
df_updated

,account_code,company_name,product_code,charge_description,currency,2020-12-01,2021-01-01,2021-02-01,2021-03-01,2021-04-01,...,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01,2024-03-01,2024-04-01,2024-05-01,2024-06-01,2024-07-01
0,ACC001,Company A,product_19,,USD,229,812,609,1586,4920,...,1263,1417,4111,244,1892,941,1991,116,3932,2249
1,ACC001,Company A,product_20,,USD,2531,284,2988,162,4108,...,3471,1965,3972,1773,3440,841,164,2555,544,1293
2,ACC001,Company A,product_17,,USD,849,4859,134,4502,1689,...,4494,3542,3887,1982,2654,187,945,1342,3658,3054
3,ACC002,Company B,product_20,,USD,3763,4499,4881,4994,301,...,4195,2487,2728,1729,339,3833,1225,58,2856,1910
4,ACC002,Company B,product_5,,USD,2653,1343,3081,4636,4853,...,2577,4458,3670,2019,3567,2405,3358,2280,4490,2307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,ACC49999,Company 쎏,product_20,,USD,2133,4380,2299,2511,3127,...,1810,846,16,2291,771,786,240,2357,1227,2845
149996,ACC49999,Company 쎏,product_13,,USD,2147,217,4295,3898,1513,...,105,983,3819,3909,989,2281,4622,1359,2544,2912
149997,ACC50000,Company 쎐,product_18,,USD,2086,2048,4186,4070,952,...,2479,875,4835,68,268,341,3946,2829,1470,380
149998,ACC50000,Company 쎐,product_5,,USD,1891,238,2,3948,4603,...,2508,1077,3803,172,4834,780,3040,3003,4401,1744
149999,ACC50000,Company 쎐,product_19,,USD,131,4990,2111,2938,1392,...,420,1466,3346,2766,2704,3086,2001,657,884,3037